.twitter-typeahead {
    width: 100%;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.tt-menu {
    width: 100%;
}